@import './variables';
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: $primaryFont;
}
body {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}
main {
  padding-bottom: 255px;
}
