@mixin wrapper {
  max-width: 1232px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}
@mixin flex($jus: unset, $align: unset) {
  display: flex;
  justify-content: $jus;
  align-items: $align;
}
