//Main Colors
$accent: #a18a68;
$white: #fff;
$black: #000;

//Neutral Colors
$darkGray: #707070;
$gray: #d8d8d8;
$lightGray: #efefef;
//Service Colors
$errors: #d82700;

//Typography
$primaryFont: 'DM Sans', sans-serif;
