<footer id="footer">
  <div class="container">
    <div class="main-content">
      <nav class="nav-bar">
        <ul class="nav-bar__links">
          <li class="nav-bar__link">
            <a href="">contact</a>
          </li>
          <li class="nav-bar__link">
            <a href="">terms of service</a>
          </li>
          <li class="nav-bar__link">
            <a href="">shipping and returns</a>
          </li>
        </ul>
      </nav>
      <form action="">
        <input type="email" name="email" placeholder="Give an email, get the newsletter" />
        <button><ion-icon name="arrow-forward-outline"></ion-icon></button>
      </form>
    </div>
    <div class="content">
      <p class="content__copy">&copy;2022 Shoppe.<a> Terms of use </a>and<a> privacy policy.</a></p>
      <div class="content__social-links">
        <ion-icon name="logo-linkedin"></ion-icon>
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-icon name="logo-twitter"></ion-icon>
      </div>
    </div>
  </div>
</footer>
