<header id="header">
  <div class="container">
    <a href="?page=home">
      <img src="/public/assets/images/shoppe.svg" alt="Shoppe Logo" />
    </a>
    <nav class="nav-bar">
      <ul class="nav-bar__links">
        <li class="nav-bar__link active">
          <a href="?page=home">Home</a>
        </li>
        <li class="nav-bar__link">
          <a href="?page=shop">Shop</a>
        </li>
        <li class="nav-bar__link">
          <a href="?page=blog">Blog</a>
        </li>
        <li class="nav-bar__link">
          <a href="?page=our-story">Our Story</a>
        </li>
      </ul>
      <div class="divisor"></div>
      <ul class="nav-bar__icons">
        <li class="nav-bar__icon">
          <a href="?page=wishlist">
            <ion-icon name="heart-outline"></ion-icon>
          </a>
        </li>
        <li class="nav-bar__icon">
          <a href="?page=cart">
            <ion-icon name="cart-outline"></ion-icon>
          </a>
        </li>
        <li class="nav-bar__icon">
          <a href="?page=account">
            <ion-icon name="person-outline"></ion-icon>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
